{% extends 'core/base.html' %}

{% block content %}
<body>
    <h1>Terms and Conditions</h1>

    <div class="section">
        <h2> <b>1. Acceptance of Terms </b></h2>
        <p>By using our website, you agree to be bound by these Terms. If you do not agree to these Terms, please do not use our website.</p>
    </div>

    <div class="section">
        <h2> <b>2. Products and Services</b></h2>
        <p>
            <b>a. Product Descriptions:</b> We make every effort to provide accurate descriptions and images of our products. However, we do not guarantee the accuracy, completeness, or reliability of any product information on our website.
        </p>
        <p>
            <b>b. Pricing:</b> We reserve the right to change the prices of our products at any time without prior notice. The price you see at the time of purchase will be the price you pay.
        </p>
        <p>
            <b>c. Order Acceptance:</b> Your order is an offer to purchase products from us. We may accept or decline your order for any reason.
        </p>
    </div>
    <div class="section">
        <h2> <b>3. Changes to Terms </b></h2>
        <p>We may update these Terms from time to time. Any changes will be effective immediately upon posting. It is your responsibility to review these Terms regularly.</p>
    </div>

    <div class="section">
        <h2> <b>4. Contact Information </b></h2>
        <p>If you have any questions or concerns about these Terms, please contact us at [Your Contact Information].</p>
    </div>
</body>
{% endblock %}
